<div
  [@animateStagger]="{ value: '200' }"
  class="w-full min-h-screen flex flex-col justify-center items-center bg-slate-50"
>
  <div
    [@animate]="{ value: '*', params: { y: '20px', delay: '200ms' } }"
    class="flex justify-center items-center font-semibold md:text-3xl text-sm text-center md:mb-5 mb-2"
  >
    {{ "login" | translate }}
  </div>

  <div
    class="sm:w-full w-11/12 max-w-sm bg-white rounded-lg border border-gray-200 shadow-lg md:p-4 p-2"
  >
    <form
      class="w-full flex flex-col justify-center items-stretch gap-2"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmitLogin()"
    >
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:outline-none focus:ring focus:ring-blue-400 p-2"
        [ngClass]="
          loginForm.get('identifier')?.touched &&
          loginForm.get('identifier')?.invalid
            ? 'border-2 border-red-500'
            : null
        "
        [placeholder]="'email' | translate"
        formControlName="identifier"
      />

      <mat-error>{{
        displayErrorMessages["identifier"] | translate
      }}</mat-error>

      <input
        type="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:outline-none focus:ring focus:ring-blue-400 p-2"
        [ngClass]="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
            ? 'border-2 border-red-500'
            : null
        "
        [placeholder]="'password' | translate"
        formControlName="password"
      />

      <mat-error>{{ displayErrorMessages["password"] | translate }}</mat-error>

      <app-button
        class="w-full mt-3"
        btnClass="w-full text-md"
        [disabled]="loginForm.invalid"
        [matType]="ButtonTypes.flat"
        [color]="ButtonColors.primary"
        [isLoading]="loginSubmit"
        type="submit"
        [text]="'login' | translate"
      />
    </form>
  </div>
</div>
