@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-icons/iconfont/material-icons.css";

mat-checkbox,
mat-form-field,
mat-toolbar,
mat-select,
mat-select-trigger,
mat-option,
mat-slide-toggle,
mat-paginator,
.mat-slide-toggle-content,
.mat-simple-snack-bar-content,
.mat-tooltip {
  font-family: "serif" !important;
}

mat-error {
  line-height: 12px;
  font-size: 12px;
}

.mat-tooltip {
  font-size: 12px !important;
  line-height: 12px !important;
}

.mat-dialog-container {
  padding: 0 !important;
}
