<page-component
  [@animateStagger]="{ value: '100' }"
  class="w-full h-full flex flex-col justify-center items-stretch"
>
  <div class="h-32 bg-violet-200"></div>

  <div class="flex justify-center items-start">
    <div
      class="sm:w-11/12 w-full flex flex-col justify-center items-stretch sm:gap-2 gap-1 -mt-24"
    >
      <div class="flex flex-wrap justify-between items-center">
        <magic-search-input
          [@animate]="{ value: '*', params: { x: '-40px', delay: '150ms' } }"
          [formControl]="search"
          [placeholder]="('search' | translate) + '...'"
          outlineOption="2.5px solid #03a9f4"
          class="sm:h-11 h-8"
        />

        <app-button
          [@animate]="{ value: '*', params: { x: '40px', delay: '150ms' } }"
          routerLink="/dashboard/services/create"
          [matType]="ButtonTypes.round_stroked"
          [color]="ButtonColors.primary"
          [text]="'create' | translate"
          icon="post_add"
          btnClass="bg-gray-600 outline-none text-white text-lg py-1 shadow-md"
        />
      </div>

      <app-table
        class="table-scrollable max-h-[77vh] shadow-md bg-white"
        [data]="servicesListController.list"
        [dataLoaded]="servicesListController.dataLoaded"
        [colSpanCount]="6"
      >
        <ng-template #headers>
          <th class="sm:text-[14px] text-xs text-start">
            {{ "name" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start">
            {{ "price" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start">
            {{ "additionalFeesPercentage" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start">
            {{ "discountPercentage" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start">
            {{ "description" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start">
            {{ "createdAt" | translate }}
          </th>

          <th class="sm:text-[14px] text-xs text-start"></th>
        </ng-template>

        <ng-template #row let-row let-index="index">
          <td
            class="max-w-[300px] sm:text-[14px] leading-5 text-xs break-words"
          >
            {{ row?.attributes?.name ?? "ــــــــــ" }}
          </td>

          <td class="sm:text-[15px] text-xs break-words">
            {{ row?.attributes?.price ?? "ــــــــــ" }}
          </td>

          <td class="sm:text-[15px] text-xs break-words">
            {{ row?.attributes?.additionalFeesPercentege ?? "ــــــــــ" }}
          </td>

          <td class="sm:text-[15px] text-xs break-words">
            {{ row?.attributes?.discountPercentage ?? "ــــــــــ" }}
          </td>

          <td class="sm:text-[15px] text-xs break-words">
            {{ row?.attributes?.desc ?? "ــــــــــ" }}
          </td>

          <td class="sm:text-[15px] text-xs break-words">
            {{
              (row?.attributes?.createdAt | date : "dd-MM-YYYY") ?? "ــــــــــ"
            }}
          </td>

          <td (click)="$event.stopPropagation()">
            <div
              class="h-full w-auto flex justify-start items-center sm:gap-2 gap-[3px]"
            >
              <app-button
                [routerLink]="['/dashboard/services/edit', row?.id]"
                [matType]="ButtonTypes.miniFap"
                [color]="ButtonColors.primary"
                [toolTip]="'edit' | translate"
                icon="edit_note"
                btnClass="bg-gray-600 text-white"
              />

              <app-button
                [color]="ButtonColors.warn"
                [matType]="ButtonTypes.miniFap"
                [toolTip]="'delete' | translate"
                icon="delete"
                (clicked)="onDeleteProduct(row)"
              />
            </div>
          </td>
        </ng-template>

        <ng-template #pagination>
          <div
            class="h-auto w-full bg-white flex justify-end items-center px-2"
          >
            <mat-paginator
              *ngIf="!!servicesListController"
              [length]="servicesListController.totalLength"
              [pageSize]="servicesListController.size"
              [pageSizeOptions]="servicesListController.pageSizeOptions"
              panelClass="bg-transparent"
              class="w-1/2"
              (page)="onPageChange($event)"
            >
            </mat-paginator>
          </div>
        </ng-template>

        <ng-template #noData>
          <no-data [text]="'noData' | translate"> </no-data>
        </ng-template>
      </app-table>
    </div>
  </div>
</page-component>
